@model click_imoveis.Models.Imovel

@{
    ViewData["Title"] = "Apagar Imóvel";
}

<div class="container">
    <hr class="mt-0 h-2px" />
    <h3>Deseja apagar este imóvel?</h3>
    <div>

        <hr />
        <h5>Endereço:</h5>
        <br />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Logradouro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Logradouro)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Numero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Complemento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Complemento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Bairro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Bairro)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cidade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CodigoPostal)
            </dd>

        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ImovelId" />
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-warning">Voltar</a>
        </form>
    </div>
</div>

