@model IEnumerable<click_imoveis.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Pessoa)</th>
            <th>@Html.DisplayNameFor(model => model.TipoDeUsuario)</th>
            <th>Nome Completo</th>
            <th>Razão Social</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Pessoa)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoDeUsuario)</td>
                <td>
                     @if (item.PessoaFisica != null) 
                     {     
                                <p>@item.PessoaFisica.NomeCompleto</p> 
                     } 
                </td>
                <td>
                     @if (item.PessoaJuridica != null)
                     {  
                                <p>@item.PessoaJuridica.RazaoSocial</p> 
                     } 
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UsuarioId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UsuarioId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UsuarioId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
