@model click_imoveis.Models.DetalheAnuncioViewModel

@{
    ViewData["Title"] = "DetalhesAnuncio";
}




    
    
    <div class="d-flex flex-wrap justify-content-center gap-3">

        @{
            if (Model.anuncio.Imovel?.Midias != null)
            {
                foreach (var item in Model.anuncio.Imovel.Midias)
                {                    
                    <div class="card" style="width: 18rem;">
                    <img src="/@(item.Link ?? "/imagem-nao-disponivel.jpg")"
                         class="card-img-top"
                         alt="..."
                         onerror="this.onerror=null;this.src='/imagem-nao-disponivel.jpg';">

                    
                </div>

            }
        }

        
    }

    </div>


    <hr />
    <h5>Anúncio:</h5>
    <br />


    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anuncio.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anuncio.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anuncio.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.ValorCondominio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anuncio.ValorCondominio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.ValorIptu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anuncio.ValorIptu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anuncio.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anuncio.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.Finalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anuncio.Finalidade)
        </dd>
        
        
    </dl>

    <hr />
    <h5>Características:</h5>
    <br />
        
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.Imovel.Banheiros)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.anuncio.Imovel.Banheiros)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.Imovel.Suites)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.anuncio.Imovel.Suites)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.Imovel.Metragem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.anuncio.Imovel.Metragem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.Imovel.Quartos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.anuncio.Imovel.Quartos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.anuncio.Imovel.Vagas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.anuncio.Imovel.Vagas)
        </dd>
       
    </dl>




    <hr />
    <h5>Localização:</h5>
    <br />

@{
    var endereco = string.Join(", ",
        new[] {
            Model.anuncio.Imovel?.Logradouro,
            Model.anuncio.Imovel?.Numero,
            Model.anuncio.Imovel?.Bairro,
            Model.anuncio.Imovel?.Cidade,
            Model.anuncio.Imovel?.Estado,
            Model.anuncio.Imovel?.CodigoPostal
                        }.Where(s => !string.IsNullOrWhiteSpace(s))
    );
    var enderecoUrl = System.Net.WebUtility.UrlEncode(endereco);
}

<p>@endereco</p>

<div class="map-responsive">
    <iframe width="600"
            height="450"
            style="border:0;"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps?q=@enderecoUrl&output=embed">
    </iframe>
</div>




<hr />

<br />
<h5>Mensagens:</h5>
<br />


@{
    if (ViewBag.Mensagens.Count > 0)
    {
        <div style="border:1px solid">
            @{
                foreach (var mensagem in ViewBag.Mensagens)
                {
                    
                    if (mensagem.UsuarioId == Model.anuncio.UsuarioId)
                    {
                          // Respostas do anunciante
                          <p class="m-0 text-primary">@mensagem.Conteudo</p>
                          <p class="text-primary">@mensagem.DataCriacao</p>
                       
                        
                    }
                    else
                    {   
                        // Mensagens de outros usuários
                        <p class="m-0">@mensagem.Conteudo</p>
                        <p class="">@mensagem.DataCriacao</p>
                    }

                   
                }
           
           } 
        </div>
    }


    
}







<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMessage">
            
            <div class="form-group">
                <label>Envie uma mensagem para o Anunciante:</label>
                <input asp-for="@Model.mensagem.Conteudo" class="form-control" />
                <span asp-validation-for="@Model.mensagem.Conteudo" class="text-danger"></span>
            </div>
            <br />
            

            <div class="form-group">
                <input type="hidden" value="@Model.anuncio.AnuncioId" name="AnuncioId"/>
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>


<br />

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>












@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}