@model click_imoveis.Models.ContaViewModel

@{
    ViewData["Title"] = "Menu Conta";
}

<h1 class="text-center mb-4">Informações da Conta</h1>

<div class="container">
    <div class="card shadow p-4 mb-5 bg-white rounded">
        <h4 class="mb-4 border-bottom pb-2">Dados do Usuário</h4>

        <dl class="row">
            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.Email)</dd>

            <dt class="col-sm-4">Tipo de Usuário</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.TipoDeUsuario)</dd>

            <dt class="col-sm-4">Creci</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.Creci)</dd>

            <dt class="col-sm-4">Data de Cadastro</dt>
            <dd class="col-sm-8">
                @String.Format("{0:dd/MM/yyyy}", Model.Usuario!.DataCadastro)
            </dd>

            <dt class="col-sm-4">Logradouro</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.Logradouro)</dd>

            <dt class="col-sm-4">Número</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.Numero)</dd>

            <dt class="col-sm-4">Complemento</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.Complemento)</dd>

            <dt class="col-sm-4">Bairro</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.Bairro)</dd>

            <dt class="col-sm-4">Estado</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.Estado)</dd>

            <dt class="col-sm-4">CEP</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.CodigoPostal)</dd>

            <dt class="col-sm-4">Telefone Principal</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.TelefonePrincipal)</dd>

            <dt class="col-sm-4">Telefone Alternativo 1</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.TelefoneAlternativo1)</dd>

            <dt class="col-sm-4">Telefone Alternativo 2</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.TelefoneAlternativo2)</dd>

            <dt class="col-sm-4">Tipo de Pessoa</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Usuario!.Pessoa)</dd>
        </dl>
    </div>
</div>
