@model click_imoveis.Models.ContaViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Menu Conta</h1>

<section>
    <h4>Dados do Usuário</h4>

   
            <dl class="row">
               
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.TipoDeUsuario)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.TipoDeUsuario)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.Creci)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.Creci)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.DataCadastro)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.DataCadastro)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.Logradouro)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.Logradouro)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.Numero)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.Numero)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.Complemento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.Complemento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.Bairro)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.Bairro)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.Estado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.Estado)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.CodigoPostal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.CodigoPostal)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.TelefonePrincipal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.TelefonePrincipal)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.TelefoneAlternativo1)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.TelefoneAlternativo1)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.TelefoneAlternativo2)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.TelefoneAlternativo2)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usuario!.Pessoa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usuario!.Pessoa)
                </dd>
            </dl>
          
        
    




</section>
